@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ 
    string name = ViewBag.Name;
    int age = ViewBag.Age;
}
<h1>Name: @name</h1>
<h2>Age: @age</h2>